SECRET_KEY=
DEBUG=True

# postgres (uses sqlite if not set)
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# amocrm
CLIENT_ID=0
CLIENT_SECRET=0
SUBDOMAIN=0
REDIRECT_URL=0
REFRESH_TOKEN=0

# Choose the compose file to run
COMPOSE_FILE=dev.yml

# Puppeteer environment variables (localhost:6969 by default)
#PUPPET_PORT=6969
#PUPPET_HOST=puppet

# Puppeteer environment variables (localhost:8000 by default)
#API_PORT=8000
#API_HOST=django